<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">GHub-univ.dz <i>"THE GRADUATION PROJECTS IDEAS MANAGER" </i> a website as we spoke ,inspiration and projects , Its about students and teachers who are searching for an idea or want to share their ideas whith others, And if all of these ideas  can be captured and exploited easily and effectively? New generations of powerful digital tools have clearly changed the situation. They now make it possible to collect and process these ideas with just a few clicks.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>University Major</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Computer science </a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Data science</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Software engineering</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Social Sciences Cultural Studies</a></li>
              <li><a href="http://scanfcode.com/category/android/">biology  </a></li>
              <li><a href="http://scanfcode.com/category/templates/">................... ....ect</a></li>
            </ul>
          </div>
          <p class= "Website">  https://howkmii.github.io/howkmii_folioo/ </p>  

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <ul class="footer-links">
        </div>
        <hr>
      </div>
      <div class="container">

          <div class="col-md-2 landing-center ">
            <p class="copyright-text">FROM
         <a href="#">HowkMii ©</a>
            </p>
          </div>


        </div>

</footer>
