<footer>
  <nav class="navbar navbar-expand_lg navbar-light bg-light">
    <button class="navbar-togller" type="button" data-toggle="#navbar">
      <span class="navbar-togller-icon">
      </span>


    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mx-auto">
        <a href="" class="nav-item nav-link" href="#">About Us</a>
        <a href="" class="nav-item nav-link" href="#">Contact IdeaHub</a>
        <a href="" class="nav-item nav-link" href="#">Company</a>
        <a href="" class="nav-item nav-link" href="#">Blog</a>
        <a href="" class="nav-item nav-link" href="#">Team</a>
        <a href="" class="nav-item nav-link" href="#">Language</a>
        <a href="" class="nav-item nav-link" href="#">Help</a>


      </div>

    </div>

  </nav>
</footer>
